<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pages / Register NoticeBoard Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  
<!--age 1 to 100 -->
  
   <script type="text/javascript">
        window.onload = function () {
            var ddl = document.getElementById('mycontainer').getElementsByTagName("select")[0];
            for (var i = 1; i <= 115; i++) {
                var theOption = new Option;
                theOption.text = i;
                theOption.value = i;
                ddl.options[i] = theOption;
            }
        };
    </script>
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="static/img/logo.png" alt="">
                  <span class="d-none d-lg-block">NoticeBoard</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                  <form action="{{ url_for('register') }}" method="post" class="row g-3 needs-validation" >
                    <div class="col-12">
                      <label for="yourname" class="form-label">Your Name</label>
                      <input type="text" name="username" class="form-control" id="yourname" required>
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>


                    
                    
                    <div class="col-12">
                      <label for="email" class="form-label">Your Email</label>
                      <input type="email" name="email" class="form-control" id="email" required><input type="button" value="verify" onclick="verify(this);">
<div id="ifVerify" style="display: none;">
    <label for="otp">enter otp :</label> 
<input type="text" name="otp"><input type="button" value="submit">           </div>




                      
                      <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>

                    <div class="col-12">
                      <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="password" required>
                        <div class="invalid-feedback">Please type password.</div>
                    </div>
                    <div class="col-12">
                      <label for="reTypeassword" class="form-label">Re-Type Password</label>
                      <input type="password" name="reTypePassword" class="form-control" id="reTypePassword" required>
                      <div class="invalid-feedback">Please enter correct password!</div>
                    </div>
                    <div class="col-12">
                      <div class="gender">Gender : &nbsp;&nbsp;
                      <input type="radio" name="gender"  id="male" value="male" required>male &nbsp;&nbsp;
                      <input type="radio" name="gender"  id="female" value="female" required>female &nbsp;&nbsp;
                      <input type="radio" name="gender"  id="trans" value="trans" required>trans
                      <div class="invalid-feedback">Please select any</div>
                      </div>
                    </div>
                    <div class="col-12"  id="mycontainer">
                      Age : &nbsp;
            <select id="AgeDropdownId" name="AgeDropdown" class="AgeDropdown" required>
                <option value="0"></option>
            </select>
                      <div class="invalid-feedback">Please select</div>
                    </div>
                    <div class="col-12">
                      State : 
                          <select id="state" name="state" class="state" required>
                            <option value=""></option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
<option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
<option value="Arunachal Pradesh">Arunachal Pradesh</option>
<option value="Assam">Assam</option>
<option value="Bihar">Bihar</option>
<option value="Chandigarh">Chandigarh</option>
<option value="Chhattisgarh">Chhattisgarh</option>
<option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
<option value="Daman and Diu">Daman and Diu</option>
<option value="Delhi">Delhi</option>
<option value="Lakshadweep">Lakshadweep</option>
<option value="Puducherry">Puducherry</option>
<option value="Goa">Goa</option>
<option value="Gujarat">Gujarat</option>
<option value="Haryana">Haryana</option>
<option value="Himachal Pradesh">Himachal Pradesh</option>
<option value="Jammu and Kashmir">Jammu and Kashmir</option>
<option value="Jharkhand">Jharkhand</option>
<option value="Karnataka">Karnataka</option>
<option value="Kerala">Kerala</option>
<option value="Madhya Pradesh">Madhya Pradesh</option>
<option value="Maharashtra">Maharashtra</option>
<option value="Manipur">Manipur</option>
<option value="Meghalaya">Meghalaya</option>
<option value="Mizoram">Mizoram</option>
<option value="Nagaland">Nagaland</option>
<option value="Odisha">Odisha</option>
<option value="Punjab">Punjab</option>
<option value="Rajasthan">Rajasthan</option>
<option value="Sikkim">Sikkim</option>
<option value="Tamil Nadu">Tamil Nadu</option>
<option value="Telangana">Telangana</option>
<option value="Tripura">Tripura</option>
<option value="Uttar Pradesh">Uttar Pradesh</option>
<option value="Uttarakhand">Uttarakhand</option>
<option value="West Bengal">West Bengal</option>
            </select>
                        
                        <div class="invalid-feedback">Please select</div>
                    </div>
                  <div class="col-12">
                      Caste : 
                          <select id="category" name="category" class="category" required>
                            <option value="General">General</option>
                            <option value="OBC">Other Backward Class (OBC)</option>
                            <option value="SC">Scheduled Caste (SC)</option>
                            <option value="ST">Scheduled Tribe (ST)</option>
                          </select>
                    <div class="invalid-feedback">Please select</div>
                  </div>
                     <div class="col-12">
                      Marital Status : 
                          <select id="marriage" name="marriage" class="marriage" onchange="yesnoCheck(this);" required>
                          <option value="N/A"></option>
                            <option value="Student">Student</option>
                            <option value="Married">Married</option>
                            <option value="Unmarried">Unmarried</option>
                            <option value="Widow">Widow</option>
                          </select><br>
                       <div class="invalid-feedback">Please select</div><br>
                       
<div id="ifStudent" style="display: none;">
    <label for="cat1">select one : </label> <select id="cat1" name="cat1" class="cat1" required>
                            <option value="School">High School</option>
                            <option value="HSE">HSE</option>
                            <option value="UG">UG</option>
                            <option value="PG">PG</option>
                          </select>
</div></<br>
                  </div>
                    {% if msg %}
                      <div class="alert alert-danger" role="alert">
                        {{ msg }}
                      </div>
                    {% endif %}
                    
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="{{url_for('login')}}">Log in</a></p>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>