<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pages / Register NoticeBoard Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="static/img/logo.png" alt="">
                  <span class="d-none d-lg-block">NoticeBoard</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                  <form action="{{ url_for('register') }}" method="post" class="row g-3 needs-validation" >
                    <div class="col-12">
                      <label for="yourname" class="form-label">Your Name</label>
                      <input type="text" name="username" class="form-control" id="yourname" required>
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>


                    
                    
                    <div class="col-12">
                      <label for="email" class="form-label">Your Email</label>
                      <input type="email" name="email" class="form-control" id="email" required><input type="button" value="verify" onclick="verify(this);">
<div id="ifVerify" style="display: none;">
    <label for="otp">enter otp :</label> 
<input type="text" name="otp"><input type="button" value="submit">           </div>




                      
                      <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>

                    <div class="col-12">
                      <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="password" required>
                        <div class="invalid-feedback">Please type password.</div>
                    </div>
                    <div class="col-12">
                      <label for="reTypeassword" class="form-label">Re-Type Password</label>
                      <input type="password" name="reTypePassword" class="form-control" id="reTypePassword" required>
                      <div class="invalid-feedback">Please enter correct password!</div>
                    </div>
                    <div class="col-12">
                      <div class="gender">Gender : &nbsp;&nbsp;
                      <input type="radio" name="gender"  id="male" value="male" required>male &nbsp;&nbsp;
                      <input type="radio" name="gender"  id="female" value="female" required>female &nbsp;&nbsp;
                      <input type="radio" name="gender"  id="trans" value="trans" required>trans
                      <div class="invalid-feedback">Please select any</div>
                      </div>
                    </div>
                    <div class="col-12"  id="mycontainer">
                      Age : &nbsp;
            <select id="AgeDropdownId" name="AgeDropdown" class="AgeDropdown" required>
                <option value="0-6">0 - 6</option>
              <option value="7-12">7 - 12</option>
              <option value="13-20">13 - 20</option>
              <option value="21-30">21 - 30</option>
              <option value="31-58">31 - 58</option>
              <option value="59">59 and above</option>
            </select>
                      <div class="invalid-feedback">Please select</div>
                    </div>
                     <div class="col-12">
                      Marital Status : 
                          <select id="marriage" name="marriage" class="marriage" onchange="yesnoCheck(this);" required>
                          <option value="N/A"></option>
                            <option value="Student">Student</option>
                            <option value="Married">Married</option>
                            <option value="Unmarried">Unmarried</option>
                            <option value="Widow">Widow</option>
                             <option value="Divorced">Divorced</option>
                             <option value="Seperated">Seperated</option>
                            
                          </select><br>
                       <div class="invalid-feedback">Please select</div><br>
                       
<div id="ifStudent" style="display: none;">
    <label for="cat1">select one : </label> <select id="cat1" name="cat1" class="cat1" required>
                            <option value="School">High School</option>
                            <option value="HSE">HSE</option>
                            <option value="UG">UG</option>
                            <option value="PG">PG</option>
                          </select>
</div></<br>
                  </div>
                     <div class="col-12">
                      <div class="seniority">Are you a senior citizen : &nbsp;&nbsp;
                      <input type="radio" name="seniority"  id="yes" value="yes" required>Yes &nbsp;&nbsp;
                      <input type="radio" name="seniority"  id="no" value="no" required>No
                      <div class="invalid-feedback">Please select any</div>
                      </div>
                    </div>
                        <div class="col-12">
                      You belong to : &nbsp;
            <select id="belong" name="belong" class="belong" required>
                <option value="general">General</option>
              <option value="sc">SC</option>
              <option value="st">ST</option>
              <option value="obc">OBC</option>
            </select>
                      <div class="invalid-feedback">Please select</div>
                    </div>
                    <div class="col-12">
                      <div class="differentlyabled">Are you differently abled : &nbsp;&nbsp;
                      <input type="radio" name="differentlyabled"  id="yes" value="yes" required>Yes &nbsp;&nbsp;
                      <input type="radio" name="differentlyabled"  id="no" value="no" required>No
                      <div class="invalid-feedback">Please select any</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="bpl">Do you belong to BPL community : &nbsp;&nbsp;
                      <input type="radio" name="bpl"  id="yes" value="yes" required>Yes &nbsp;&nbsp;
                      <input type="radio" name="bpl"  id="no" value="no" required>No
                      <div class="invalid-feedback">Please select any</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="income">Your family income : &nbsp;&nbsp;
                      <input type="radio" name="income"  id="1lakh" value="1lakh" required>less than 1 lakh &nbsp;&nbsp;
                      <input type="radio" name="income"  id="2.5lakh" value="2.5lakh" required>1 - 2.5 lakh
                        &nbsp;&nbsp;
                      <input type="radio" name="income"  id="5lakh" value="5lakh" required>2.5 - 5 lakh
                        &nbsp;&nbsp;
                      <input type="radio" name="income"  id="above5" value="above5" required>above 5
                      <div class="invalid-feedback">Please select any</div>
                      </div>
                    </div>
                      <div class="col-12">
                      select category : 
                          <select id="category" name="category" class="category" onchange="categoryCheck(this);"  required>
                          <option value="N/A"></option>
                            <option value="agriculture">AGRICULTURE</option>
                            <option value="education">EDUCATION</option>
                            <option value="health">HEALTH</option>
                            <option value="socialwelfare">SOCIAL WELFARE</option>                            
                          </select><br>
                       <div class="invalid-feedback">Please select</div><br>
                       <div id="ifagriculture" class="category-block" style="display: none;">
    select : <input class="single-checkbox"type="checkbox" name="farmer"  id="farmer" value="farmer">FARMER &nbsp;
             <input class="single-checkbox"type="checkbox" name="farmer-group"  id="farmer-group" value="farmer-group">FARMER GROUP &nbsp;
             <input class="single-checkbox"type="checkbox" name="financial-assistance"  id="financial-assistance" value="financial-assistance">FINANCIAL ASSISTANCE &nbsp;
             <input class="single-checkbox"type="checkbox" name="crop-insurance"  id="crop-insurance" value="crop-insurance">CROP INSURANCE &nbsp;
             <input class="single-checkbox"type="checkbox" name="fruits"  id="fruits" value="fruits">FRUITS &nbsp;
             <input class="single-checkbox"type="checkbox" name="vegetables"  id="vegetables" value="vegetables">VEGETABLES &nbsp;
             <input class="single-checkbox"type="checkbox" name="compensation"  id="compensation" value="compensation">COMPENSATION &nbsp;
             <input class="single-checkbox"type="checkbox" name="damage"  id="damage" value="damage">DAMAGE &nbsp;
             <input class="single-checkbox"type="checkbox" name="farm"  id="farm" value="farm">FARM &nbsp;
             <input class="single-checkbox"type="checkbox" name="soil"  id="soil" value="soil">SOIL &nbsp;
             <input class="single-checkbox"type="checkbox" name="land"  id="land" value="land">LAND &nbsp;
             <input class="single-checkbox"type="checkbox" name="landholder"  id="landholder" value="landholder">LANDHOLDER &nbsp;
             <input class="single-checkbox"type="checkbox" name="cultivable"  id="cultivable" value="cultivable">CULTIVABLE &nbsp;
             <input class="single-checkbox"type="checkbox" name="fertilizer"  id="fertilizer" value="fertilizer">FERTILIZER &nbsp;
             <input class="single-checkbox"type="checkbox" name="pesticides"  id="pesticides" value="pesticides">PESTICIDES &nbsp;
</div></<br>
                         <div id="ifeducation" class="category-block" style="display: none;">
    select : <input class="single-checkbox"type="checkbox" name="college"  id="college" value="college">COLLEGE &nbsp;
             <input class="single-checkbox"type="checkbox" name="school"  id="school" value="school">SCHOOL &nbsp;
             <input class="single-checkbox"type="checkbox" name="student"  id="student" value="student">STUDENT &nbsp;
             <input class="single-checkbox"type="checkbox" name="financial-assistance"  id="financial-assistance" value="financial-assistance">FINANCIAL ASSISTANCE &nbsp;
             <input class="single-checkbox"type="checkbox" name="scholarship"  id="scholarship" value="scholarship">SCHOLARSHIP &nbsp;
             <input class="single-checkbox"type="checkbox" name="educational-assistance"  id="educational-assistance" value="educational-assistance">EDUCATIONAL ASSISTANCE &nbsp;
             <input class="single-checkbox"type="checkbox" name="blind"  id="blind" value="blind">BLIND &nbsp;
             <input class="single-checkbox"type="checkbox" name="deaf"  id="deaf" value="deaf">DEAF &nbsp;
             <input class="single-checkbox"type="checkbox" name="high-school"  id="high-school" value="high-school">HIGH SCHOOL &nbsp;
             <input class="single-checkbox"type="checkbox" name="hs"  id="hs" value="hs">HIGHER SECONDARY &nbsp;
             <input class="single-checkbox"type="checkbox" name="ug"  id="ug" value="ug">UG &nbsp;
             <input class="single-checkbox"type="checkbox" name="pg"  id="pg" value="pg">PG &nbsp;
             <input class="single-checkbox"type="checkbox" name="degree"  id="degree" value="degree">DEGREE &nbsp;
             <input class="single-checkbox"type="checkbox" name="diploma"  id="diploma" value="diploma">DIPLOMA &nbsp;
             <input class="single-checkbox"type="checkbox" name="professional-course"  id="professional-course" value="professional-course">PROFFESIONAL COURSE &nbsp;
             <input class="single-checkbox"type="checkbox" name="abroad"  id="abroad" value="abroad">ABROAD &nbsp;
             <input class="single-checkbox"type="checkbox" name="govt"  id="govt" value="govt">GOVT &nbsp;
             <input class="single-checkbox"type="checkbox" name="aided"  id="aided" value="aided">AIDED &nbsp;
             <input class="single-checkbox"type="checkbox" name="self"  id="self" value="self">SELF FINANCING SCHOOL &nbsp;
             <input class="single-checkbox"type="checkbox" name="sebc"  id="sebc" value="sebc">SEBC &nbsp;
             <input class="single-checkbox"type="checkbox" name="competitive-exam"  id="competitive-exam" value="competitive-exam">COMPETITIVE EXAM &nbsp;
</div></<br>
                        <div id="ifhealth" class="category-block" style="display: none;">
    select : <input class="single-checkbox"type="checkbox" name="children"  id="children" value="children">CHILDREN &nbsp;
             <input class="single-checkbox"type="checkbox" name="orphan"  id="orphan" value="orphan">ORPHAN &nbsp;
             <input class="single-checkbox"type="checkbox" name="financial-assistance"  id="financial-assistance" value="financial-assistance">FINANCIAL ASSISTANCE &nbsp;
             <input class="single-checkbox"type="checkbox" name="senior-citizen"  id="senior-citizen" value="senior-citizen">SENIOR CITIZEN &nbsp;
             <input class="single-checkbox"type="checkbox" name="mentally-challenged"  id="mentally-challenged" value="mentally-challenged">MENTALLY CHALLENGED &nbsp;
             <input class="single-checkbox"type="checkbox" name="care-givers"  id="care-givers" value="care-givers">CARE GIVERS &nbsp;
             <input class="single-checkbox"type="checkbox" name="patient"  id="patient" value="patient">PATIENT &nbsp;
             <input class="single-checkbox"type="checkbox" name="mother"  id="mother" value="mother">MOTHER &nbsp;
             <input class="single-checkbox"type="checkbox" name="child"  id="child" value="child">CHILD &nbsp;
             <input class="single-checkbox"type="checkbox" name="pregnant"  id="pregnant" value="pregnant">PREGNANT &nbsp;
             <input class="single-checkbox"type="checkbox" name="dental-treatment"  id="dental-treatment" value="dental-treatment">DENTAL TREATMENT &nbsp;
             <input class="single-checkbox"type="checkbox" name="medical-treatment"  id="medical-treatment" value="medical-treatment">MEDICAL TREATMENT &nbsp;
             <input class="single-checkbox"type="checkbox" name="handicapped"  id="handicapped" value="handicapped">HANDICAPPED &nbsp;
             <input class="single-checkbox"type="checkbox" name="health-insurance"  id="health-insurance" value="health-insurance">HEALTH INSURANCE &nbsp;
             <input class="single-checkbox"type="checkbox" name="maternal-disability"  id="maternal-disability" value="maternal-disability">MATERNAL DISABILITY &nbsp;
             <input class="single-checkbox"type="checkbox" name="unwed-mother"  id="unwed-mother" value="unwed-mother">UNWED MOTHER &nbsp;
</div></<br>

<div id="ifsocialwelfare" class="category-block" style="display: none;">
    select : <input class="single-checkbox"type="checkbox" name="destitute"  id="destitute" value="destitute">DESTITUTE &nbsp;
             <input class="single-checkbox"type="checkbox" name="financial-assistance"  id="financial-assistance" value="financial-assistance">FINANCIAL ASSISTANCE &nbsp;
             <input class="single-checkbox"type="checkbox" name="women"  id="women" value="women">WOMEN &nbsp;
             <input class="single-checkbox"type="checkbox" name="legal-aid"  id="legal-aid" value="legal-aid">LEGAL AID &nbsp;
             <input class="single-checkbox"type="checkbox" name="loan"  id="loan" value="loan">LOAN &nbsp;
             <input class="single-checkbox"type="checkbox" name="entrepreneur"  id="entrepreneur" value="entrepreneur">ENTREPRENEUR &nbsp;
             <input class="single-checkbox"type="checkbox" name="self-employment"  id="self-employment" value="self-employment">SELF EMPLOYMENT &nbsp;
             <input class="single-checkbox"type="checkbox" name="self-help-group"  id="self-help-group" value="self-help-group">SELF HELP GROUP &nbsp;
             <input class="single-checkbox"type="checkbox" name="marriage-assistance"  id="marriage-assistance" value="marriage-assistance">MARRIAGE ASSISTANCE &nbsp;
             <input class="single-checkbox"type="checkbox" name="srs"  id="srs" value="srs">SRS &nbsp;
             <input class="single-checkbox"type="checkbox" name="housing"  id="housing" value="housing">HOUSING &nbsp;
             <input class="single-checkbox"type="checkbox" name="house-renovation"  id="house-renovation" value="house-renovation">HOUSE RENOVATION &nbsp;
             <input class="single-checkbox"type="checkbox" name="tribal"  id="tribal" value="tribal">TRIBAL &nbsp;
</div></<br>
                    </div>
                    {% if msg %}
                      <div class="alert alert-danger" role="alert">
                        {{ msg }}
                      </div>
                    {% endif %}
                    
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="{{url_for('login')}}">Log in</a></p>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>
  <!-- Example HTML for checkbox group -->

<script>
  // Add event listener to each checkbox
  var checkboxes = document.querySelectorAll('input[type=checkbox]');
  checkboxes.forEach(function(checkbox) {
    checkbox.addEventListener('change', function() {
      checkLimit(checkboxes);
    });
  });
  
  // Function to check number of ticked checkboxes
  function checkLimit(checkboxes) {
    var checkedCount = 0;
    checkboxes.forEach(function(checkbox) {
      if (checkbox.checked) {
        checkedCount++;
      }
    });
    
    // Disable remaining unchecked checkboxes if limit is reached
    if (checkedCount == 5) {
      checkboxes.forEach(function(checkbox) {
        if (!checkbox.checked) {
          checkbox.disabled = true;
        }
      });
    } else {
      checkboxes.forEach(function(checkbox) {
        checkbox.disabled = false;
      });
    }
  }
</script>


</body>

</html>