<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Users / Profile - NoticeBoard Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">NoticeBoard</span>
      </a>
    </div><!-- End Logo -->
  </header><!-- End Header -->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Complete Registration</h1>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
           


                  <!-- Profile Edit Form -->
                  <form>
                    <div class="row mb-3">
                      <div class="col-md-8 col-lg-9">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="gender" class="col-md-4 col-lg-3 col-form-label">Gender</label>
                      <div class="col-md-8 col-lg-9">
                        <input type="radio" name="gender"  id="male" value="male" required>male &nbsp;&nbsp;
                        <input type="radio" name="gender"  id="female" value="female" required>female &nbsp;&nbsp;
                        <input type="radio" name="gender"  id="trans" value="transgender" required>trans
                        <div class="invalid-feedback">Please select any</div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="AgeDropdown" class="col-md-4 col-lg-3 col-form-label">Age</label>
                      <div class="col-md-8 col-lg-9">
                        <select id="AgeDropdownId" name="AgeDropdown" class="AgeDropdown" required>
                          <option value="age below 5">0 - 5</option>
                        <option value="age below 15">6 - 15</option>
                        <option value="age below 30">15 - 30</option>
                        <option value="age below 50">31 - 50</option>
                  <option value="age under 65">51 - 65</option>
                        <option value="65 and above">65 and above</option>
                      </select>
                                <div class="invalid-feedback">Please select</div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="marriage" class="col-md-4 col-lg-3 col-form-label">Marital Status</label>
                      <div class="col-md-8 col-lg-9">
                        <select id="marriage" name="marriage" class="marriage" required>
                          <option value="N/A"></option>
                            <option value="Married">Married</option>
                            <option value="Unmarried">Unmarried</option>
                            <option value="Widow">Widow</option>
                             <option value="Divorced">Divorced</option>
                             <option value="Seperated">Seperated</option>
                            
                          </select><br>
                       <div class="invalid-feedback">Please select</div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="seniority" class="col-md-4 col-lg-3 col-form-label">Senior Citizen</label>
                      <div class="col-md-8 col-lg-9">
                        <input type="radio" name="seniority"  id="yes" value="senior citizen" required>Yes &nbsp;&nbsp;
                      <input type="radio" name="seniority"  id="no" value="no" required>No
                      <div class="invalid-feedback">Please select any</div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="belong" class="col-md-4 col-lg-3 col-form-label">You belong to</label>
                      <div class="col-md-8 col-lg-9">
                        <select id="belong" name="belong" class="belong" required>
                          <option value="general">General</option>
                        <option value="sc">SC</option>
                  <option value="st">ST</option>
                        <option value="obc">OBC</option>
                  <option value="oec">OEC</option>
                      </select>
                      <div class="invalid-feedback">Please select</div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Differentlyabled" class="col-md-4 col-lg-3 col-form-label">Differently abled</label>
                      <div class="col-md-8 col-lg-9">
                        <input type="radio" name="differentlyabled"  id="yes" value="differently abled" required>Yes &nbsp;&nbsp;
                        <input type="radio" name="differentlyabled"  id="no" value="no" required>No
                        <div class="invalid-feedback">Please select any</div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="bpl" class="col-md-4 col-lg-3 col-form-label">Do you belong to BPL community</label>
                      <div class="col-md-8 col-lg-9">
                        <input type="radio" name="bpl"  id="yes" value="bpl" required>Yes &nbsp;&nbsp;
                        <input type="radio" name="bpl"  id="no" value="no" required>No
                        <div class="invalid-feedback">Please select any</div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="income" class="col-md-4 col-lg-3 col-form-label">Family income</label>
                      <div class="col-md-8 col-lg-9">
                        <input type="radio" name="income"  id="1lakh" value="financial assistance" required>less than 1 lakh &nbsp;&nbsp;
                        <input type="radio" name="income"  id="2.5lakh" value="2.5lakh" required>1 - 2.5 lakh
                          &nbsp;&nbsp;
                        <input type="radio" name="income"  id="5lakh" value="5lakh" required>2.5 - 5 lakh
                          &nbsp;&nbsp;
                        <input type="radio" name="income"  id="above5" value="above5" required>above 5
                        <div class="invalid-feedback">Please select any</div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="category" class="col-md-4 col-lg-3 col-form-label">Select Category</label>
                      <div class="col-md-8 col-lg-9">
                       
                        <select id="category" name="category" class="category" onchange="categoryCheck(this);"  required>
                          <option value="N/A"></option>
                            <option value="agriculture">AGRICULTURE</option>
                            <option value="education">EDUCATION</option>
                            <option value="health">HEALTH</option>
                            <option value="social welfare">SOCIAL WELFARE</option>                            
                          </select><br>
                       <div class="invalid-feedback">Please select</div><br>
                       <div id="ifagriculture" class="category-block" style="display: none;">
    select : <input class="single-checkbox"type="checkbox" name="checkboxes"  id="farmer" value="farmer">FARMER &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="farmer-group" value="farmer group">FARMER GROUP &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="financial-assistance" value="financial assistance">FINANCIAL ASSISTANCE &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="crop-insurance" value="crop insurance">CROP INSURANCE &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="fruits" value="fruits">FRUITS &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="vegetables" value="vegetables">VEGETABLES &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="compensation" value="compensation">COMPENSATION &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="damage" value="damage">DAMAGE &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="farm" value="farm">FARM &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="soil" value="soil">SOIL &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="land" value="land">LAND &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="landholder" value="landholder">LANDHOLDER &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="cultivable" value="cultivable">CULTIVABLE &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="fertilizer" value="fertilizer">FERTILIZER &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="pesticides" value="pesticides">PESTICIDES &nbsp;
                         
</div>
                         <div id="ifeducation" class="category-block" style="display: none;">
    select : <input class="single-checkbox"type="checkbox" name="checkboxes"  id="college" value="college">COLLEGE &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="school" value="school">SCHOOL &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="student" value="student">STUDENT &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="financial-assistance" value="financial assistance">FINANCIAL ASSISTANCE &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="scholarship" value="scholarship">SCHOLARSHIP &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="educational-assistance" value="educational assistance">EDUCATIONAL ASSISTANCE &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="blind" value="blind">BLIND &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="deaf" value="deaf">DEAF &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="high-school" value="high school">HIGH SCHOOL &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="hs" value="higher secondary">HIGHER SECONDARY &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="ug" value="ug">UG &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="pg" value="pg">PG &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="degree" value="degree">DEGREE &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="diploma" value="diploma">DIPLOMA &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="professional-course" value="professional course">PROFFESIONAL COURSE &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="abroad" value="abroad">ABROAD &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="govt" value="govt">GOVT &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="aided" value="aided">AIDED &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="self" value="self">SELF FINANCING SCHOOL &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="sebc" value="sebc">SEBC &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="competitive-exam" value="competitive exam">COMPETITIVE EXAM &nbsp;
</div>
                        <div id="ifhealth" class="category-block" style="display: none;">
    select : <input class="single-checkbox"type="checkbox" name="checkboxes"  id="children" value="children">CHILDREN &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="orphan" value="orphan">ORPHAN &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="financial-assistance" value="financial assistance">FINANCIAL ASSISTANCE &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="senior-citizen" value="senior citizen">SENIOR CITIZEN &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="mentally-challenged" value="mentally challenged">MENTALLY CHALLENGED &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="care-givers" value="care givers">CARE GIVERS &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="patient" value="patient">PATIENT &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="mother" value="mother">MOTHER &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="child" value="child">CHILD &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="pregnant" value="pregnant">PREGNANT &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="dental-treatment" value="dental treatment">DENTAL TREATMENT &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="medical-treatment" value="medical treatment">MEDICAL TREATMENT &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="handicapped" value="handicapped">HANDICAPPED &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="health-insurance" value="health insurance">HEALTH INSURANCE &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="maternal-disability" value="maternal-disability">MATERNAL DISABILITY &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="unwed-mother" value="unwed-mother">UNWED MOTHER &nbsp;
</div>

<div id="ifsocialwelfare" class="category-block" style="display: none;">
    select : <input class="single-checkbox"type="checkbox" name="checkboxes"  id="destitute" value="destitute">DESTITUTE &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="financial-assistance" value="financial assistance">FINANCIAL ASSISTANCE &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="women" value="women">WOMEN &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="legal-aid" value="legal aid">LEGAL AID &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="loan" value="loan">LOAN &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="entrepreneur" value="entrepreneur">ENTREPRENEUR &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="self-employment" value="self employment">SELF EMPLOYMENT &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="self-help-group" value="self help group">SELF HELP GROUP &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="marriage-assistance" value="marriage assistance">MARRIAGE ASSISTANCE &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="srs" value="srs">SRS &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="housing" value="housing">HOUSING &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="house-renovation" value="house renovation">HOUSE RENOVATION &nbsp;
             <input class="single-checkbox"type="checkbox" name="checkboxes"  id="tribal" value="tribal">TRIBAL &nbsp;
</div>
                          <!-- Example HTML for checkbox group -->

<script>
  // Add event listener to each checkbox
  var checkboxes = document.querySelectorAll('input[type=checkbox]');
  checkboxes.forEach(function(checkbox) {
    checkbox.addEventListener('change', function() {
      checkLimit(checkboxes);
    });
  });
  
  // Function to check number of ticked checkboxes
  function checkLimit(checkboxes) {
    var checkedCount = 0;
    checkboxes.forEach(function(checkbox) {
      if (checkbox.checked) {
        checkedCount++;
      }
    });
    
    // Disable remaining unchecked checkboxes if limit is reached
    if (checkedCount == 5) {
      checkboxes.forEach(function(checkbox) {
        if (!checkbox.checked) {
          checkbox.disabled = true;
        }
      });
    } else {
      checkboxes.forEach(function(checkbox) {
        checkbox.disabled = false;
      });
    }
  }
</script>






                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="#" class="col-md-4 col-lg-3 col-form-label"> </label>
                      <div class="col-md-8 col-lg-9">
                        <input type="checkbox" value="yes" name="notifications">Receive notifications
                      </div>
                    </div>

                    {% if msg %}
                      <div class="alert alert-danger" role="alert">
                        {{ msg }}
                      </div>
                    {% endif %}

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="{{url_for('login')}}">Log in</a></p>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>