<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>
  </head>
  <body>
      <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="/home/search">
        <input type="text" name="search_element" placeholder="Search Schemes" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>



    
      <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">Scheme detail</th>
                        <th scope="col">Link</th>
                      </tr>
                    </thead>
                    <tbody>

                        {% for row in sh %}
                        <tr>
                          <td><a href="{{ row.link}}" class="text-primary">{{row.name}}</a></td>
                          <td>{{ row.descriptions}}</td>

                        </tr>
                        {% endfor %}

 
                    </tbody>
                  </table>

        
  </body>
        
      
